/******************************************************************************/
/*
/*   Sections:
/*
/*   1.
/*
/******************************************************************************/

:root {
    --main-font-color: #433929;

    --grey: #e1e1e1;
    --grey-light: #eaeaea;
    --grey-dark: #867e72;
    --main-brown: #cdb69b;
    --main-brown-light: #eacfb1;
    --grey-orange: #f0e3d8;
    --grey-orange-light: #f3ede5;
    --grey-orange-dark : #c4ac9a;
    --grey-orange-hover: #e0d4ca;
    --dark-orange: #cc890e;
    --dark-orange-hover: #b4790c;
    --red: #ac5f4e;
    --yellow: #e8b24f;
    --green: #9c8651;
}

body {
    color: var(--main-font-color);
    
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 85px 1fr auto;
}

a {
    text-decoration: none;

    color: var(--main-font-color);
}

button:hover {
    cursor: pointer;
}

/******************************************************************************/
/* Selectors for the header start here.
/******************************************************************************/

header {
    padding: 16px;

    background-color: var(--main-brown);

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    gap: 16px;
}

header .logo {
    width: 50px;
}

/******************************************************************************/
/* Selectors for the sidebar start here.
/******************************************************************************/

.sidebar {
    padding: 16px 16px 32px 16px;

    background-color: var(--grey-orange);
    
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.sidebar li {
    list-style: none;
}

/* Selectors for the sidebar sections start here. */

.sidebar .sidebar-sections > li > img {
    width: 1.5rem;
}

.sidebar .sidebar-sections > li > button {
    width: 100%;
    
    padding: 8px;

    background: none;
    border: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: all 0.1s ease-out;
}

.sidebar .sidebar-sections > li > button:hover {
    background-color: var(--grey-orange-hover);

    transition: all 0.1s ease-in;
}

/* Selectors for the sidebar "Projects" section start here. */

.sidebar .sidebar-sections .projects-section > a {
    display: flex;
    justify-content: space-between;
}

.sidebar .sidebar-sections .projects-section .section-title {
    display: flex;
    gap: 8px;
}

.sidebar .projects {
    height: 350px;

    overflow-y: auto;
}

.sidebar .projects > li > a {
    padding-left: 40px;

    display: flex;
    justify-content: space-between;
}

.sidebar .projects > li > a .project-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar .projects > li > a img[src*="circle-filled"] {
    width: 0.8rem;
}

.sidebar .projects > li > a .alerts {
    font-size: 0.8rem;

    display: flex;
    gap: 8px;
}

.sidebar .projects > li > a .alerts p {
    padding: 0 8px;
    
    color: white;

    border-radius: 50%;
}

.sidebar .projects > li > a .alerts .overdue {
    background-color: var(--red);
}

.sidebar .projects > li > a .alerts .remaining {
    background-color: var(--grey-orange-dark);
}

/* Selectors for the "Add project" button start here. */

.sidebar > button {
    width: 50%;

    padding: 8px;

    color: white;

    background-color: var(--dark-orange);
    border: none;
    border-radius: 32px;

    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    transition: all 0.2s ease-in-out;
}

.sidebar > button:hover {
    background-color: var(--dark-orange-hover);

    transition: all 0.2s ease-in-out;
}

.sidebar > button .plus-light {
    width: 1rem;
}

/******************************************************************************/
/* Selectors for the "Home" page start here.
/******************************************************************************/

#home-page {
    min-height: 100%;

    padding: 16px;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

#home-page h2 {
    padding: 16px 16px 16px 32px;

    border-bottom: 1px solid var(--main-font-color);

    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

/* Selectors for the overview section start here. */

#home-page .overview {
    min-height: 100%;

    padding: 16px;

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
}

#home-page .overview h3 {
    padding: 16px;
}

/* Selectors for the date section start here. */

#home-page .overview .date-container {
    padding: 16px;
    
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

#home-page .overview .date-container .date {
    width: 75px;
    height: 75px;

    font-size: 2rem;

    background-color: var(--main-brown-light);
    border-radius: 2px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page .overview .date-container .day {
    font-size: 1.2rem;
}

/* Selectors for the tasks section start here. */

#home-page .overview .tasks-overview {
    padding: 16px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

#home-page .overview .tasks-overview > * {
    width: 110px;
    height: 110px;

    text-align: center;

    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-page .overview .tasks-overview h4 {
    font-size: 1.2rem;
}

#home-page .overview .tasks-overview .tasks-completed {
    border: 8px solid var(--green);
}

#home-page .overview .tasks-overview .tasks-remaining {
    border: 8px solid var(--yellow);
}

#home-page .overview .tasks-overview .tasks-overdue {
    border: 8px solid var(--red);
}

#home-page .overview .tasks-overview p {
    font-size: 0.8rem;
}

/* Selectors for the overview image start here. */

#home-page .overview .img-container {
    margin: 16px 0 0 16px;

    overflow: hidden;
}

#home-page .overview img[src*="overview"] {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: 50% 95%;

    border-radius: 8px;
}

/* Selectors for the notes section start here. */

#home-page .notes {
    padding: 16px;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

#home-page .notes h3 {
    padding: 16px;
}

#home-page .notes textarea {
    height: 100%;

    resize: none;

    margin: 0 16px 0 16px;
    padding: 16px;

    background-color: var(--grey-orange-light);
    border: none;
    border-radius: 8px;
}

#home-page .notes textarea:focus {
    outline: 2px solid var(--main-font-color);
}

/******************************************************************************/
/* Selectors for the "Today" page start here.
/******************************************************************************/

#today-page {
    padding: 16px;

    overflow-y: auto;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto 1fr;
}

#today-page h2 {
    padding: 16px 16px 16px 32px;

    border-bottom: 1px solid var(--main-font-color);

    grid-row: 1 / 2;
}

#today-page .projects {
    padding: 16px;

    grid-row: 2 / 3;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#today-page .projects button {
    background: none;
    border: none;
}

#today-page .projects img[src$="svg"] {
    width: 1.3rem;
}

#today-page .projects .project {
    padding: 16px;
    
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}

#today-page .projects .project h3 {
    padding-bottom: 16px;
    
    grid-column: 1 / 2;
}

/* Selectors for the project options start here. */

#today-page .projects .project .options {
    padding-bottom: 16px;
    
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
    gap: 8px;
}

#today-page .projects .project .options .drop-down {
    padding: 2px 8px;
    
    background-color: var(--grey-light);
    border-radius: 4px;

    display: flex;
    align-items: center;

    transition: all 0.1s ease-out;
}

#today-page .projects .project .options .drop-down:hover {
    background-color: var(--grey);

    transition: all 0.1s ease-in;
}

#today-page .projects .project .options .drop-down .input {
    display: flex;
    align-items: center;
}

#today-page .projects .project .options button:not(.drop-down) {
    padding: 4px;
    
    transition: all 0.1s ease-out;
}

#today-page .projects .project .options button:not(.drop-down):hover {
    background-color: var(--grey-light);
    border-radius: 8px;

    transition: all 0.1s ease-in;
}

/* Selectors for the project tasks start here. */

#today-page .projects .project .tasks {
    grid-column: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

#today-page .projects .project .task {
    padding: 16px 18px;

    background-color: var(--grey-orange-light);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

#today-page .projects .project .task.checked .left,
#today-page .projects .project .task.checked .right > :not(.expand-task) {
    color: var(--grey-dark);

    opacity: 0.5;
}

#today-page .projects .project .task .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

#today-page .projects .project .task .right {
    display: flex;
    align-items: center;
    gap: 24px;
}

#today-page .projects .project .task .right .expand-task {
    padding: 4px;

    transition: all 0.1s ease-out;
}

#today-page .projects .project .task .right .expand-task:hover {
    background-color: #e0d4ca;
    border-radius: 8px;

    transition: all 0.1s ease-in;
}

/******************************************************************************/
/* Selectors for the "Upcoming" page start here.
/******************************************************************************/

#upcoming-page {
    padding: 16px;

    overflow-y: auto;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto auto 1fr;
}

#upcoming-page h2 {
    padding: 16px 16px 16px 32px;
    
    grid-row: 1 / 2;
}

#upcoming-page .filters {
    padding: 0 16px 16px 32px;
    
    border-bottom: 1px solid var(--main-font-color);
    
    grid-row: 2 / 3;

    display: flex;
    gap: 8px;
}

#upcoming-page .filters button {
    font-size: 0.8rem;

    padding: 2px 10px;

    transition: all 0.1s ease-out;
}

#upcoming-page .filters button:nth-child(2) {
    color: white;
    
    background-color: var(--grey-orange-dark);
    border: none;
    border-radius: 32px;
}

#upcoming-page .filters button:nth-child(odd) {
    background: none;
    border: 1px solid var(--grey-orange-dark);
    border-radius: 32px;
}

#upcoming-page .filters button:hover {
    color: white;

    background-color: var(--grey-orange-dark);

    transition: all 0.1s ease-in;
}

#upcoming-page .projects {
    padding: 16px;

    grid-row: 3 / 4;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#upcoming-page .projects button {
    background: none;
    border: none;
}

#upcoming-page .projects img[src$="svg"] {
    width: 1.3rem;
}

#upcoming-page .projects .project {
    padding: 16px;
    
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}

#upcoming-page .projects .project h3 {
    padding-bottom: 16px;
    
    grid-column: 1 / 2;
}

/* Selectors for the project options start here. */

#upcoming-page .projects .project .options {
    padding-bottom: 16px;
    
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
    gap: 8px;
}

#upcoming-page .projects .project .options .drop-down {
    padding: 2px 8px;
    
    background-color: var(--grey-light);
    border-radius: 4px;

    display: flex;
    align-items: center;

    transition: all 0.1s ease-out;
}

#upcoming-page .projects .project .options .drop-down:hover {
    background-color: var(--grey);

    transition: all 0.1s ease-in;
}

#upcoming-page .projects .project .options .drop-down .input {
    display: flex;
    align-items: center;
}

/* Selectors for the project tasks start here. */

#upcoming-page .projects .project .tasks {
    grid-column: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

#upcoming-page .projects .project .task {
    padding: 16px 18px;

    background-color: var(--grey-orange-light);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

#upcoming-page .projects .project .task.checked .left,
#upcoming-page .projects .project .task.checked .right > :not(.expand-task) {
    color: var(--grey-dark);

    opacity: 0.5;
}

#upcoming-page .projects .project .task .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

#upcoming-page .projects .project .task .right {
    display: flex;
    align-items: center;
    gap: 24px;
}

#upcoming-page .projects .project .task .right .expand-task {
    padding: 4px;

    transition: all 0.1s ease-out;
}

#upcoming-page .projects .project .task .right .expand-task:hover {
    background-color: #e0d4ca;
    border-radius: 8px;

    transition: all 0.1s ease-in;
}

/******************************************************************************/
/* Selectors for each project section start here.
/******************************************************************************/

#projects-page {
    padding: 16px;

    overflow-y: auto;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto 1fr;
}

#projects-page h2 {
    padding: 16px 16px 16px 32px;

    border-bottom: 1px solid var(--main-font-color);
    
    grid-row: 1 / 2;
}

#projects-page .project {
    padding: 32px 32px 16px 32px;

    grid-row: 2 / 3;
    
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}

#projects-page .project button {
    background: none;
    border: none;
}

#projects-page .project img[src$="svg"] {
    width: 1.3rem;
}

#projects-page .project h3 {
    padding-bottom: 16px;
    
    grid-column: 1 / 2;
}

/* Selectors for the project options start here. */

#projects-page .project .options {
    padding-bottom: 16px;
    
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
    gap: 8px;
}

#projects-page .project .options .drop-down {
    padding: 2px 8px;
    
    background-color: var(--grey-light);
    border-radius: 4px;

    display: flex;
    align-items: center;

    transition: all 0.1s ease-out;
}

#projects-page .project .options .drop-down:hover {
    background-color: var(--grey);

    transition: all 0.1s ease-in;
}

#projects-page .project .options .drop-down .input {
    display: flex;
    align-items: center;
}

#projects-page .project .options button:not(.drop-down) {
    padding: 4px;
    
    transition: all 0.1s ease-out;
}

#projects-page .project .options button:not(.drop-down):hover {
    background-color: var(--grey-light);
    border-radius: 8px;

    transition: all 0.1s ease-in;
}

/* Selectors for the project tasks start here. */

#projects-page .project .tasks {
    grid-column: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

#projects-page .project .task {
    padding: 16px 18px;

    background-color: var(--grey-orange-light);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

#projects-page .project .task.checked .left,
#projects-page .project .task.checked .right > :not(.expand-task) {
    color: var(--grey-dark);

    opacity: 0.5;
}

#projects-page .project .task .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

#projects-page .project .task .left .overdue {
    font-size: 0.8rem;

    margin-left: 16px;
    padding: 2px 8px;

    color: white;

    background-color: var(--red);
    border-radius: 16px;
}

#projects-page .project .task .right {
    display: flex;
    align-items: center;
    gap: 24px;
}

#projects-page .project .task .right .expand-task {
    padding: 4px;
    
    transition: all 0.1s ease-out;
}

#projects-page .project .task .right .expand-task:hover {
    background-color: #e0d4ca;
    border-radius: 8px;

    transition: all 0.1s ease-in;
}

/******************************************************************************/
/* Selectors for the footer start here.
/******************************************************************************/

footer {
    padding: 16px;

    background-color: var(--main-brown);

    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

footer img[src*="github"] {
    width: 1rem;
}