/******************************************************************************/
/*
/*   Sections:
/*
/*   1.
/*
/******************************************************************************/

:root {
    --color-text-1: #4d4d4d;
    --color-text-1-inverted: #ffffff;

    --color-brand-1: #847fca;
    --color-brand-1-light-a: #9490c9;
    --color-brand-1-light-b: #E2E4F6;
    --color-brand-2: #f1f1f1;
    --color-brand-2-dark: #d0d0d0;
    --color-brand-2-hover: #dcdcdc;
    --color-brand-2-active: #cac9c9;
    --color-brand-3: #F4D179;
    --color-brand-3-hover: #e7c46b;

    --color-ui-success: #D4E09B;
    --color-ui-warning: #f4d179;
    --color-ui-danger: #e67a6b;

    --color-dropdown-1: #eaeaea;
    --color-dropdown-1-hover: #e1e1e1;
}

body {
    color: var(--color-text-1);
    
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 85px 1fr auto;
}

a {
    text-decoration: none;

    color: var(--color-text-1);
}

button:hover {
    cursor: pointer;
}

/******************************************************************************/
/* Selectors for the header start here.
/******************************************************************************/

header {
    padding: 16px;

    color: var(--color-text-1-inverted);

    background-color: var(--color-brand-1);

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    gap: 16px;
}

header .logo {
    width: 50px;
}

/******************************************************************************/
/* Selectors for the sidebar start here.
/******************************************************************************/

.sidebar {
    padding: 16px 16px 32px 16px;

    background-color: var(--color-brand-2);
    
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.sidebar li {
    list-style: none;
}

/* Selectors for the sidebar sections start here. */

.sidebar-sections > li > img {
    width: 1.5rem;
}

.sidebar-sections > li > button {
    width: 100%;
    
    padding: 8px;

    background: none;
    border: none;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: all 0.3s ease;
}

.sidebar-sections > li > button:hover {
    background-color: var(--color-brand-2-hover);
}

.sidebar-sections > li > button:active {
    background-color: var(--color-brand-2-active);
}

/* Selectors for expandable sections start here. */

.expandable {
    display: flex;
    justify-content: space-between;
}

.expandable img:last-child {
    margin-left: auto;
}

/* Selectors for the individual projects of the sidebar start here. */

.sidebar-projects {
    height: 350px;

    overflow-y: auto;
}

.sidebar-projects button {
    width: 100%;

    padding: 8px 8px 8px 40px;

    background: none;
    border: none;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.2s ease;
}

.sidebar-projects button:hover {
    background-color: var(--color-brand-2-hover);
}

.sidebar-projects button:active {
    background-color: var(--color-brand-2-active);
}

.sidebar-projects .project-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar-projects .project-name img {
    width: 0.6rem;
}

.sidebar-projects .alerts {
    font-size: 0.8rem;

    display: flex;
    gap: 8px;
}

.sidebar-projects .alerts p {
    padding: 0 8px;
    
    color: var(--color-text-1-inverted);

    border-radius: 50%;
}

.sidebar-projects .alerts .overdue {
    background-color: var(--color-ui-danger);
}

.sidebar-projects .alerts .remaining {
    background-color: var(--color-brand-1-light-a);
}

/* Selectors for the "Add project" button start here. */

.add-project-btn {
    width: 50%;

    padding: 8px;

    color: var(--color-text-1-inverted);

    background-color: var(--color-brand-3);
    border: none;
    border-radius: 32px;

    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    transition: all 0.2s ease;
}

.add-project-btn:hover {
    background-color: var(--color-brand-3-hover);
}

.add-project-btn img {
    width: 1rem;
}

/******************************************************************************/
/* Selectors for the "Home" page start here.
/******************************************************************************/

.home.page {
    min-height: 100%;

    padding: 16px;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.home.page h2 {
    padding: 0 0 16px 0;
    margin: 16px 32px 16px 32px;

    border-bottom: 1px solid var(--color-text-1);

    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

/* Selectors for the overview section start here. */

.overview {
    min-height: 100%;

    padding: 16px;

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
}

.overview h3 {
    padding: 16px;
}

/* Selectors for the date section start here. */

.date-container {
    padding: 16px;
    
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

.date-container .num-date {
    width: 75px;
    height: 75px;

    font-size: 2rem;

    background-color: var(--color-brand-1-light-b);
    border-radius: 2px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.date-container .full-date {
    font-size: 1.2rem;
}

/* Selectors for the tasks section start here. */

.overview-tasks {
    padding: 16px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.overview-tasks > * {
    width: 110px;
    height: 110px;

    text-align: center;

    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview-tasks h4 {
    font-size: 1.2rem;
}

.overview-tasks p {
    font-size: 0.8rem;
}

.overview-tasks .completed {
    border: 8px solid var(--color-ui-success);
}

.overview-tasks .remaining {
    border: 8px solid var(--color-ui-warning);
}

.overview-tasks .overdue {
    border: 8px solid var(--color-ui-danger);
}

/* Selectors for the overview image start here. */

.overview-img-wrapper {
    margin: 16px 0 0 16px;

    overflow: hidden;
}

.overview-img-wrapper img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: 0% 95%;

    border-radius: 8px;
}

/* Selectors for the notes section start here. */

.notes {
    padding: 16px;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.notes h3 {
    padding: 16px;
}

.notes textarea {
    height: 100%;

    resize: none;

    margin: 0 16px 0 16px;
    padding: 16px;

    background-color: var(--color-brand-2);
    border: none;
    border-radius: 8px;
}

.notes textarea:focus {
    outline: 2px solid var(--color-text-1);
}

/******************************************************************************/
/* Selectors for the "Today" page start here.
/******************************************************************************/

.today.page {
    padding: 16px;

    overflow-y: overlay;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto 1fr;
}

.today.page h2 {
    padding: 0 0 16px 0;
    margin: 16px 32px 16px 32px;

    border-bottom: 1px solid var(--color-text-1);

    grid-row: 1 / 2;
}

/* Selectors for the grouped projects start here. */

.today.page .projects {
    padding: 16px;

    grid-row: 2 / 3;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.today.page .projects button {
    background: none;
    border: none;
}

.today.page .projects img[src$="svg"] {
    width: 1.3rem;
}

/* Selectors for the individual projects starts here. */

.today.page .project {
    padding: 16px;
    
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}

.today.page .project h3 {
    padding-bottom: 16px;
    
    grid-column: 1 / 2;
}

/* Selectors for the project options start here. */

.today.page .options {
    padding-bottom: 16px;
    
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
    gap: 8px;
}

.today.page .options .dropdown {
    padding: 2px 8px;
    
    background-color: var(--color-dropdown-1);
    border-radius: 4px;

    display: flex;
    align-items: center;

    transition: all 0.2s ease;
}

.today.page .options .dropdown:hover {
    background-color: var(--color-dropdown-1-hover);
}

.today.page .options .dropdown .input {
    display: flex;
    align-items: center;
}

.today.page .options button:not(.dropdown) {
    padding: 4px;
    
    transition: all 0.2s ease;
}

.today.page .options button:not(.dropdown):hover {
    background-color: var(--color-dropdown-1);
    border-radius: 8px;
}

/* Selectors for the project tasks start here. */

.today.page .tasks {
    grid-column: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.today.page .task {
    padding: 16px 18px;

    background-color: var(--color-brand-2);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

.today.page .task .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.today.page .task .right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.today.page .task.checked .left,
.today.page .task.checked .right > :not(.expand-task) {
    opacity: 0.5;
}

.today.page .task .right .expand-task {
    padding: 4px;

    transition: all 0.2s ease;
}

.today.page .task .right .expand-task:hover {
    background-color: var(--color-brand-2-hover);
    border-radius: 8px;
}

/******************************************************************************/
/* Selectors for the "Upcoming" page start here.
/******************************************************************************/

.upcoming.page {
    padding: 16px;

    overflow-y: auto;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto auto 1fr;
}

.upcoming.page h2 {
    padding: 0 0 16px 0;
    margin: 16px 32px 16px 32px;
    
    grid-row: 1 / 2;

    border-bottom: 1px solid var(--color-text-1);
}

/* Selectors for the project filters start here. */

.upcoming.page .filters {
    padding: 16px 16px 16px 32px;
    
    grid-row: 2 / 3;

    display: flex;
    gap: 8px;
}

.upcoming.page .filters button {
    font-size: 0.8rem;

    padding: 2px 10px;

    transition: all 0.2s ease;
}

.upcoming.page .filters button:nth-child(2) {
    color: var(--color-text-1-inverted);
    
    background-color: var(--color-brand-2-dark);
    border: none;
    border-radius: 32px;
}

.upcoming.page .filters button:nth-child(odd) {
    background: none;
    border: 1px solid var(--color-brand-2-dark);
    border-radius: 32px;
}

.upcoming.page .filters button:hover {
    color: var(--color-text-1-inverted);

    background-color: var(--color-brand-2-dark);
}

/* Selectors for the grouped projects start here. */

.upcoming.page .projects {
    padding: 16px;

    grid-row: 3 / 4;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.upcoming.page .projects button {
    background: none;
    border: none;
}

.upcoming.page .projects img[src$="svg"] {
    width: 1.3rem;
}

/* Selectors for the individual projects start here. */

.upcoming.page .project {
    padding: 16px;
    
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}

.upcoming.page .project h3 {
    padding-bottom: 16px;
    
    grid-column: 1 / 2;
}

/* Selectors for the project options start here. */

.upcoming.page .options {
    padding-bottom: 16px;
    
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
    gap: 8px;
}

.upcoming.page .options .dropdown {
    padding: 2px 8px;
    
    background-color: var(--color-dropdown-1);
    border-radius: 4px;

    display: flex;
    align-items: center;

    transition: all 0.2s ease;
}

.upcoming.page .options .dropdown:hover {
    background-color: var(--color-dropdown-1-hover);
}

.upcoming.page .options .dropdown .input {
    display: flex;
    align-items: center;
}

.upcoming.page .options button:not(.dropdown) {
    padding: 4px;
    
    transition: all 0.2s ease;
}

.upcoming.page .options button:not(.dropdown):hover {
    background-color: var(--color-dropdown-1);
    border-radius: 8px;
}

/* Selectors for the project tasks start here. */

.upcoming.page .tasks {
    grid-column: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.upcoming.page .task {
    padding: 16px 18px;
    
    background-color: var(--color-brand-2);
    border-radius: 20px;
    
    display: flex;
    justify-content: space-between;
}

.upcoming.page .task .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.upcoming.page .task .right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.upcoming.page .task.checked .left,
.upcoming.page .projects .project .task.checked .right > :not(.expand-task) {
    opacity: 0.5;
}

.upcoming.page .task .right .expand-task {
    padding: 4px;

    transition: all 0.2s ease;
}

.upcoming.page .task .right .expand-task:hover {
    background-color: var(--color-brand-2-hover);
    border-radius: 8px;
}

/******************************************************************************/
/* Selectors for each project section start here.
/******************************************************************************/

.projects.page {
    padding: 16px;

    overflow-y: overlay;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: auto 1fr;
}

.projects.page h2 {
    padding: 0 0 16px 0;
    margin: 16px 32px 16px 32px;

    border-bottom: 1px solid var(--color-text-1);

    grid-row: 1 / 2;
}

/* Selectors for the grouped projects start here. */

.projects.page .projects {
    padding: 16px;

    grid-row: 2 / 3;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects.page .projects button {
    background: none;
    border: none;
}

.projects.page .projects img[src$="svg"] {
    width: 1.3rem;
}

/* Selectors for the individual projects starts here. */

.projects.page .project {
    padding: 16px;
    
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}

.projects.page .project h3 {
    padding-bottom: 16px;
    
    grid-column: 1 / 2;
}

/* Selectors for the project options start here. */

.projects.page .options {
    padding-bottom: 16px;
    
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
    gap: 8px;
}

.projects.page .options .dropdown {
    padding: 2px 8px;
    
    background-color: var(--color-dropdown-1);
    border-radius: 4px;

    display: flex;
    align-items: center;

    transition: all 0.2s ease;
}

.projects.page .options .dropdown:hover {
    background-color: var(--color-dropdown-1-hover);
}

.projects.page .options .dropdown .input {
    display: flex;
    align-items: center;
}

.projects.page .options button:not(.dropdown) {
    padding: 4px;
    
    transition: all 0.2s ease;
}

.projects.page .options button:not(.dropdown):hover {
    background-color: var(--color-dropdown-1);
    border-radius: 8px;
}

/* Selectors for the project tasks start here. */

.projects.page .tasks {
    grid-column: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects.page .task {
    padding: 16px 18px;

    background-color: var(--color-brand-2);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

.projects.page .task .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.projects.page .task .right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.projects.page .task.checked .left,
.projects.page .task.checked .right > :not(.expand-task) {
    opacity: 0.5;
}

.projects.page .task .right .expand-task {
    padding: 4px;

    transition: all 0.2s ease;
}

.projects.page .task .right .expand-task:hover {
    background-color: var(--color-brand-2-hover);
    border-radius: 8px;
}

/******************************************************************************/
/* Selectors for the footer start here.
/******************************************************************************/

footer {
    padding: 16px;

    background-color: var(--color-brand-1);

    grid-column: 1 / 3;
    grid-row: 3 / 4;
    
    display: flex;
    justify-content: center;
}

footer a {
    color: var(--color-text-1-inverted);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

footer img[src*="github"] {
    width: 1rem;
}